.header{
    background:linear-gradient(to right,#0078AA,#3AB4F2);
    padding: 0.7rem 1rem;
    .header__title{
        color:#FFF;
        font-family: 'Pacifico', cursive;
        font-size:2rem;
        letter-spacing: 0.2rem;
        
    }
}
